@import "./variables.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
    background-color: $color-special;
    border: none;
    padding: $padding $padding*2;
    color: $color-light;
    &:hover {
        opacity: 0.8;
    }
    @media (max-width: 470px) {
        padding: $padding;
        font-size: 14px;
    }
}

.link {
    color: $main-color;
    &:hover {
        opacity: 0.8;
    }
}